@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --text: #06050a;
        --background: #f9f9fb;
        --primary: #6358ad;
        --secondary: #c29cce;
        --accent: #c284c2;
    }
    .dark {
        --text: #f6f5fa;
        --background: #040406;
        --primary: #5e52a7;
        --secondary: #573163;
        --accent: #7b3d7b;
    }
}